    .overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.75);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .modal {
            position: relative;
            background: white;
            padding: 20px;
            border-radius: 4px;
            max-width: 90%;
            max-height: 90%;
            overflow: auto;
        }
    
        .modalContent {
            width: 100%;
            height: auto;
        }
